<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    media="screen" type="text/css">
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
  <title>Welcome to The Butler Group</title>
  <script src="/theme_toggle.js" defer></script> <!-- ✅ Link to theme_toggle.js -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S4R9TES673"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-S4R9TES673');
  </script>
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="zfWKLkCX92MyO4m5zB1+hg" async></script>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <header>
    <div class="inner">
      <a href="https://butlergroup.net">
        <img src="assets/images/logo.png" alt="Butler Group Logo" style="width: 100%; max-width: 750px; height: auto;">
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <button id="themeToggle">☀️ Light /🌙 Dark Mode</button>
    </div>
  </header>

  <div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
        {{ content }}
      </section>
      <div class="container">
        <!-- First row: Three items -->
        <div class="row">
          <div class="box">
            <a href="https://computerbutler.net">
              <img src="assets/images/cblogo.gif" alt="Computer Butler Logo">
            </a><br />
            <a href="https://computerbutler.net">The Computer Butler LLC</a><br />
            A Managed IT Services Company Serving The Small Business, Nonprofit, and Enterprise Sectors
          </div>
          <div class="box">
            <img src="assets/images/indigologo.png" alt="Coming Soon" style="width: 150px; height: auto;"><br />
            Coming Soon...
          </div>
          <div class="box">
            <a href="https://app.foodscoot.net"><img src="assets/images/foodscoot.png" alt="Food Scoot"
                style="width: 150px; height: auto;"></a><br />
            <a href="https://app.foodscoot.net">Food Scoot</a><br />
            v1 Production-Ready.<br />
            v2 Under Construction...
          </div>
        </div>
        <!-- Second row: Two centered items -->
        <div class="row centered">
          <div class="box">
            <img src="assets/images/comingsoon.jpg" alt="Coming Soon">
          </div>
          <div class="box">
            <img src="assets/images/comingsoon.jpg" alt="Coming Soon">
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <p>
          <b>Our Goal: </b>Heal the planet's ecosystem. When we're done with that: build The United Federation of
          Planets.
        </p>
        <p>
          <b>Our Strategy: </b>John Nash theorized that the best possible result of any interaction occurred when
          everyone did both what is in their own best interests, and the interests of the group:<br />
          <img src="assets/images/nash.jpg" alt="John Nash Equilibrium" style="width: 100%; max-width: 750px; height: auto;">
        </p>
        <p>
          <b>Our Motivation: </b><em>You have exactly the same number of hours per day that were given to Mozart,
            Aristotle, John Adams, Michelangelo, Mother Teresa, Sun Tzu, Shakespeare, Socrates, Leonardo da Vinci,
            Martin Luther King, Thomas Jefferson, and Albert Einstein.</em>
        </p>
        <p>
          Ready to jump in and help out? Contact us at <b><a href="tel:6157966556">(615) 796-6556</a></b> or <b><a
              href="mailto:welcome@butlergroup.net">welcome@butlergroup.net</a></b>
        </p>
      </div>
      <hr>
      <footer>
        <div style="text-align: center">
          <a href="https://climate.stripe.com/fpIgZF" target="_blank"><img src="assets/images/stripeclimate.png"
              alt="Stripe Climate Partner" style="width: 75px; height: auto;"></a><br />
          We partner with Stripe and contribute 1% of our revenue to carbon removal.
        </div>
        <div style="text-align: center">
          <img src="assets/images/nglcc.png" alt="NGLCC Certification" style="width: 150px; height: auto;"><br />
        </div>
        <div style="text-align: center">
          <a href="https://github.com/butlergroup">Our Github<img src="assets/images/octocat.png">#iheartquintapodkitties</a> | <a
            href="https://stats.uptimerobot.com/5XQREEu3Eh">Service Status</a> | <a href="/privacy_policy.html">Privacy
            Policy</a> | <a href="/terms_of_service.html">Terms of Service</a><br />
          Copyright &copy; 2025 The Butler Group LLC. All rights reserved.
        </div>
      </footer>
    </div>
  </div>

</body>

</html>