<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    media="screen" type="text/css">
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
  <title>Welcome to The Butler Group</title>
  <script src="/theme_toggle.js" defer></script> <!-- ✅ Link to theme_toggle.js -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S4R9TES673"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-S4R9TES673');
  </script>
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="zfWKLkCX92MyO4m5zB1+hg" async></script>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <header>
    <div class="inner">
      <a href="https://butlergroup.net">
        <img src="assets/images/logo.png" alt="Butler Group Logo" style="width: 100%; max-width: 750px; height: auto;">
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <button id="themeToggle">☀️ Light /🌙 Dark Mode</button>
    </div>
  </header>

  <div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
        {{ content }}
      </section>
      <div class="container">
        <!-- First row: Three items -->
        <div class="row">
          <div class="box">
            <a href="https://lcaars.online" target="_blank">
              <img src="assets/images/LCAARS.png" alt="LCAARS Logo">
            </a>
            <a href="https://lcaars.online" target="_blank">LCAARS</a><br />
            block-based, decentralized cloud data storage built to be more secure, feature-rich, carbon-friendly,
            and cost-effective than any other solution on the market
          </div>
          <div class="box">
            <a href="https://indigo.gallery" target="_blank"><img src="assets/images/indigologo.png" alt="Indigo Logo"
                style="width: 150px; height: auto;"></a><br />
            <a href="https://indigo.gallery" target="_blank">Indigo</a><br />
            platform-agnostic endpoint management software that combines SIEM/XDR, RMM, DR, helpdesk, and asset tracking
            in one solution
          </div>
          <div class="box">
            <a href="https://foodscoot.net" target="_blank"><img src="assets/images/foodscoot.png" alt="Food Scoot Logo"
                style="width: 150px; height: auto;"></a><br />
            <a href="https://foodscoot.net" target="_blank">Food Scoot</a><br />
            a delivery app for both meals and groceries that pays vendors & drivers better and helps reduce food waste
          </div>
        </div>
        <!-- Second row: Two centered items -->
        <div class="row centered">
          <div class="box">
            <a href="https://computerbutler.net" target="_blank">
              <img src="assets/images/cblogo.gif" alt="Computer Butler Logo">
            </a><br /><br />
            <a href="https://computerbutler.net" target="_blank">The Computer Butler LLC</a><br /><br />
            a managed IT services company serving the small business, nonprofit, and enterprise sectors
          </div>
          <div class="box">
            <img src="assets/images/comingsoon.jpg" alt="Coming Soon">
          </div>
        </div>
        <!-- Third row: Two centered items -->
        <div class="row centered">
          <div class="small-box">
            <form action="https://www.paypal.com/donate" method="post" target="_blank">
              <input type="hidden" name="hosted_button_id" value="CPYEHSZ2VGTPS" />
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
                name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>
          </div>
          <div class="small-box">
            <style>
              .pp-YT44L77WY7974 {
                text-align: center;
                border: none;
                border-radius: 0.25rem;
                min-width: 11.625rem;
                padding: 0 2rem;
                height: 2.625rem;
                font-weight: bold;
                background-color: #FFD140;
                color: #000000;
                font-family: "Helvetica Neue", Arial, sans-serif;
                font-size: 1rem;
                line-height: 1.25rem;
                cursor: pointer;
              }
            </style>
            <form action="https://www.paypal.com/ncp/payment/YT44L77WY7974" method="post" target="_blank"
              style="display:inline-grid;justify-items:center;align-content:start;gap:0.5rem;">
              <input class="pp-YT44L77WY7974" type="submit" value="Invest" />
              <img src=https://www.paypalobjects.com/images/Debit_Credit_APM.svg alt="cards" />
              <section style="font-size: 0.75rem;"> Powered by <img
                  src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal"
                  style="height:0.875rem;vertical-align:middle;" /></section>
            </form>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <h2>Our Pitch Deck:</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dKrACB3zDYI?si=jcMvVrVg5OeOv9n6"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br /><br />
        <p>
          <b>Our Goal: </b>Heal the planet's ecosystem and foster a more cohesive society. Think "United Federation of
          Planets."
        </p>
        <p>
          <b>Our Strategy: </b>John Nash theorized that the best possible result of any interaction occurred when
          everyone did both what is in their own best interests, and the interests of the group:<br /><br />
          <img src="assets/images/nash.jpg" alt="John Nash Equilibrium"
            style="width: 100%; max-width: 750px; height: auto;">
        </p>
        <p>
          <b>Our Motivation: </b><em>You have exactly the same number of hours per day that were given to Mozart,
            Aristotle, John Adams, Michelangelo, Mother Teresa, Sun Tzu, Shakespeare, Socrates, Leonardo da Vinci,
            Martin Luther King, Thomas Jefferson, and Albert Einstein.</em>
        </p>
        <p>
          Ready to jump in and help out? Contact us at <b><a href="tel:6157966556">(615) 796-6556</a></b> or <b><a
              href="mailto:welcome@butlergroup.net">welcome@butlergroup.net</a></b>
        </p>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        More detailed information on our ventures is available on our Wefunder profile:&nbsp;<a
          href="https://wefunder.com/thebutlergroupllc" target="_blank"><img src="assets/images/wefunder.svg"
            alt="Google Play Store" style="width: 150px; height: auto;"></a>
      </div><br />
      <div style="display: flex; justify-content: center; align-items: center;">
        Visit our
        developer page on Google Play:&nbsp;<a
          href="https://play.google.com/store/apps/dev?id=8682441835519301604&pli=1" target="_blank"><img
            src="assets/images/play-store.webp" alt="Google Play Store" style="width: 150px; height: auto;"></a>
      </div>
      <hr>
      <footer>
        <div style="text-align: center">
          <a href="https://climate.stripe.com/fpIgZF" target="_blank"><img src="assets/images/stripeclimate.png"
              alt="Stripe Climate Partner" style="width: 75px; height: auto;"></a><br />
          We partner with Stripe and contribute 1% of our revenue to carbon removal.
        </div>
        <br />
        <div style="text-align: center">
          <a href="assets/NGLCC® LGBTBE® Certificate_The Butler Group LLC.pdf"><img src="assets/images/nglcc.png"
              alt="NGLCC Certification" style="width: 150px; height: auto;"></a><br />
        </div>
        <div style="text-align: center">
          <a href="https://github.com/butlergroup" target="_blank">Our Github<img
              src="assets/images/octocat.png">#iheartquintapodkitties</a> | <a
            href="https://stats.uptimerobot.com/5XQREEu3Eh" target="_blank">Service Status</a> | <a
            href="/privacy-policy">Privacy
            Policy</a> | <a href="/terms-of-service">Terms of Service</a><br /><br />
          Copyright &copy; 2025 The Butler Group LLC. All rights reserved.
        </div>
      </footer>
    </div>
  </div>

</body>

</html>